In [44]:
import csv
fifa_file = open('Fifa18.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
header = player_data[0]
player_data = player_data[1:]
for row in player_data:
    for idx in [2,6,7,8]:
        row[idx] = float(row[idx])

In [45]:
def few_players():
    print(header)
    for row in player_data[:5]:
        print(row)
few_players()

['Id', 'name', 'Age', 'nationality', 'club', 'league', 'euro_wage', 'networth', 'score_of_100']
['20801', 'Cristiano Ronaldo', 32.0, 'Portugal', 'Real Madrid CF', 'Spanish Primera División', 565000.0, 95500000.0, 94.0]
['158023', 'L. Messi', 30.0, 'Argentina', 'FC Barcelona', 'Spanish Primera División', 565000.0, 105000000.0, 93.0]
['190871', 'Neymar', 25.0, 'Brazil', 'Paris Saint-Germain', 'French Ligue 1', 280000.0, 123000000.0, 92.0]
['176580', 'L. Suárez', 30.0, 'Uruguay', 'FC Barcelona', 'Spanish Primera División', 510000.0, 97000000.0, 92.0]
['167495', 'M. Neuer', 31.0, 'Germany', 'FC Bayern Munich', 'German Bundesliga', 230000.0, 61000000.0, 92.0]

In [46]:
#q1
def oldest_player():
    oldest_age = 0
    for row in player_data:
        if row[2] > oldest_age:
            oldest_age = row[2]
            name = row[1]
    return name
oldest_player()

'B. Richardson'

In [47]:
#q2
def highest_paid_player():
    highest_salary = 0
    for row in player_data:
        if row[6] > highest_salary:
            highest_salary = row[6]
            name = row[1]
    return name
highest_paid_player()

'Cristiano Ronaldo'

In [48]:
#q3
def highest_net_worth():
    highest_worth = 0
    for row in player_data:
        if row[7] > highest_worth:
            highest_worth = row[7]
            name = row[1]
    return name
highest_net_worth()

'Neymar'

In [49]:
#q4
def club_of_highest_net_worth():
    highest_worth = 0
    for row in player_data:
        if row[7] > highest_worth:
            highest_worth = row[7]
            club = row[4]
    return club
    
club_of_highest_net_worth()

'Paris Saint-Germain'

In [50]:
def get_column(col_idx):
    column_list = list()
    for row in player_data:
        column_list.append(row[col_idx])
    return column_list
get_column(0)

['20801',
 '158023',
 '190871',
 '176580',
 '167495',
 '188545',
 '193080',
 '183277',
 '182521',
 '167664',
 '155862',
 '192985',
 '192119',
 '184941',
 '177003',
 '173731',
 '153079',
 '138956',
 '1179',
 '211110',
 '200389',
 '194765',
 '189509',
 '188567',
 '184344',
 '183907',
 '182493',
 '178603',
 '176635',
 '167948',
 '164240',
 '41236',
 '9014',
 '215914',
 '199556',
 '195864',
 '190460',
 '181872',
 '179813',
 '176676',
 '171877',
 '168651',
 '168542',
 '162835',
 '152729',
 '41',
 '202126',
 '198710',
 '197781',
 '197445',
 '192505',
 '191043',
 '189596',
 '189511',
 '189242',
 '188350',
 '184087',
 '179944',
 '179844',
 '178518',
 '177610',
 '175943',
 '172879',
 '168609',
 '165153',
 '162895',
 '156616',
 '120533',
 '48940',
 '208418',
 '201535',
 '200145',
 '198219',
 '193301',
 '193041',
 '192883',
 '192593',
 '192563',
 '192448',
 '190547',
 '189332',
 '186942',
 '184432',
 '183898',
 '180206',
 '173210',
 '172871',
 '170890',
 '167628',
 '164169',
 '139720',
 '137186',
 '225508',
 '220834',
 '218667',
 '212218',
 '211117',
 '208722',
 '204963',
 '202166',
 '201399',
 '201153',
 '201024',
 '200316',
 '193747',
 '192774',
 '192227',
 '191740',
 '189712',
 '189505',
 '189117',
 '184120',
 '181458',
 '180930',
 '180403',
 '179846',
 '179783',
 '178750',
 '178088',
 '177509',
 '177388',
 '167397',
 '165229',
 '164468',
 '146530',
 '143076',
 '106231',
 '231747',
 '231443',
 '220971',
 '216460',
 '215316',
 '213565',
 '212814',
 '212190',
 '210257',
 '209499',
 '209331',
 '208596',
 '208448',
 '207865',
 '207566',
 '205600',
 '204485',
 '203376',
 '201942',
 '200888',
 '199715',
 '199482',
 '198176',
 '198009',
 '197061',
 '193474',
 '192629',
 '192366',
 '191202',
 '191180',
 '189513',
 '189358',
 '189125',
 '189068',
 '188377',
 '187936',
 '186547',
 '185239',
 '185020',
 '184431',
 '184144',
 '181783',
 '180819',
 '179784',
 '178562',
 '178005',
 '177683',
 '177358',
 '176769',
 '176600',
 '173771',
 '170481',
 '167905',
 '163587',
 '162240',
 '161956',
 '159147',
 '158963',
 '146760',
 '146748',
 '146562',
 '142754',
 '139869',
 '139068',
 '53302',
 '24630',
 '20775',
 '20289',
 '5479',
 '230621',
 '222492',
 '219809',
 '219683',
 '217699',
 '216594',
 '216451',
 '215785',
 '213331',
 '212404',
 '212188',
 '211575',
 '211300',
 '209658',
 '208808',
 '208618',
 '208421',
 '207863',
 '207664',
 '207471',
 '207410',
 '206652',
 '206545',
 '205452',
 '204970',
 '204639',
 '204525',
 '204277',
 '203551',
 '203483',
 '202857',
 '202652',
 '202651',
 '202477',
 '202335',
 '201862',
 '200949',
 '200104',
 '199845',
 '199503',
 '198164',
 '197965',
 '195093',
 '193698',
 '193532',
 '193469',
 '193348',
 '193082',
 '192387',
 '190483',
 '190456',
 '189560',
 '188943',
 '188942',
 '188803',
 '187754',
 '187072',
 '186627',
 '186561',
 '186153',
 '184484',
 '184267',
 '184200',
 '183711',
 '183574',
 '183497',
 '183376',
 '182494',
 '181786',
 '181291',
 '179847',
 '178509',
 '178372',
 '178224',
 '177600',
 '177457',
 '174543',
 '172723',
 '171919',
 '171833',
 '169595',
 '169416',
 '168354',
 '167431',
 '165239',
 '163824',
 '163705',
 '163631',
 '163489',
 '162347',
 '158121',
 '157481',
 '150724',
 '150418',
 '144622',
 '143745',
 '135507',
 '113422',
 '108080',
 '104389',
 '230666',
 '227928',
 '227055',
 '222737',
 '222028',
 '220793',
 '216354',
 '216352',
 '216201',
 '216194',
 '213661',
 '212622',
 '211368',
 '210935',
 '210896',
 '210008',
 '209889',
 '208830',
 '208670',
 '207599',
 '205498',
 '203747',
 '203042',
 '202685',
 '202371',
 '201995',
 '201400',
 '200724',
 '199987',
 '199564',
 '199451',
 '199354',
 '199189',
 '198951',
 '198717',
 '198141',
 '197853',
 '197655',
 '197242',
 '195365',
 '195086',
 '194794',
 '193738',
 '193525',
 '193352',
 '193165',
 '192789',
 '192638',
 '192318',
 '190941',
 '190584',
 '190149',
 '189881',
 '189574',
 '189461',
 '189251',
 '188988',
 '188388',
 '188005',
 '187961',
 '185431',
 '184942',
 '184111',
 '183900',
 '183498',
 '183483',
 '183285',
 '183280',
 '181820',
 '180216',
 '179645',
 '178086',
 '177326',
 '173426',
 '173198',
 '172175',
 '171579',
 '166706',
 '163264',
 '161648',
 '158625',
 '153244',
 '146954',
 '142780',
 '139997',
 '121944',
 '116494',
 '110677',
 '54050',
 '53612',
 '49370',
 '49369',
 '9676',
 '231677',
 '223848',
 '216393',
 '215792',
 '213296',
 '212831',
 '212462',
 '212194',
 '211748',
 '211320',
 '210617',
 '210406',
 '210243',
 '210035',
 '209297',
 '208334',
 '208333',
 '207993',
 '206585',
 '206467',
 '206413',
 '206273',
 '205976',
 '205362',
 '205192',
 '204529',
 '204082',
 '203888',
 '203775',
 '203486',
 '203280',
 '201510',
 '200647',
 '200610',
 '199914',
 '199827',
 '199434',
 '199110',
 '198950',
 '198784',
 '198118',
 '196934',
 '195861',
 '194879',
 '194404',
 '194229',
 '193886',
 '193361',
 '193130',
 '193116',
 '193061',
 '192641',
 '192492',
 '191687',
 '190972',
 '190815',
 '190813',
 '190717',
 '190264',
 '189250',
 '189156',
 '188802',
 '188253',
 '187735',
 '187688',
 '187491',
 '186146',
 '185221',
 '185132',
 '184392',
 '184190',
 '183909',
 '182002',
 '178416',
 '178311',
 '177644',
 '177604',
 '177458',
 '176930',
 '176915',
 '176376',
 '176104',
 '175379',
 '173909',
 '173521',
 '173432',
 '173373',
 '173221',
 '173208',
 '172522',
 '172316',
 '171897',
 '170370',
 '170368',
 '169705',
 '168530',
 '167553',
 '167514',
 '165536',
 '165526',
 '164859',
 '164835',
 '163155',
 '162369',
 '162329',
 '158232',
 '157960',
 '156713',
 '150516',
 '146460',
 '143587',
 '140293',
 '139968',
 '139668',
 '138449',
 '138412',
 '134744',
 '124635',
 '112316',
 '111661',
 '53914',
 '52091',
 '50542',
 '48717',
 '21146',
 '230977',
 '230142',
 '227476',
 '225647',
 '225018',
 '224334',
 '221660',
 '221130',
 '220440',
 '218339',
 '216150',
 '215466',
 '215259',
 '215057',
 '215051',
 '214997',
 '213345',
 '213150',
 '212886',
 '212602',
 '212523',
 '212501',
 '212150',
 '211688',
 '211381',
 '211354',
 '211256',
 '210864',
 '210514',
 '210413',
 '208777',
 '208128',
 '208093',
 '207948',
 '207441',
 '207439',
 '206511',
 '206113',
 '205988',
 '205678',
 '205525',
 '205407',
 '205175',
 '205069',
 '204638',
 '204523',
 '204311',
 '204024',
 '203890',
 '203757',
 '203574',
 '202849',
 '202642',
 '202556',
 '201988',
 '201956',
 '201858',
 '201533',
 '201454',
 '201377',
 '201305',
 '201262',
 '201118',
 '201049',
 '201046',
 '201042',
 '200641',
 '200458',
 '200454',
 '199977',
 '199952',
 '199852',
 '199576',
 '199561',
 '199550',
 '198683',
 '198077',
 '197948',
 '195363',
 '194957',
 '194911',
 '194174',
 '193887',
 '193171',
 '193105',
 '192679',
 '192565',
 '192086',
 '191210',
 '190875',
 '190778',
 '190544',
 '190286',
 '190243',
 '190223',
 '189963',
 '189433',
 '189271',
 '189169',
 '188955',
 '188524',
 '188428',
 '187457',
 '187347',
 '187324',
 '186307',
 '186148',
 '186132',
 '185103',
 '184949',
 '184881',
 '184477',
 '184069',
 '183899',
 '183893',
 '183855',
 '183666',
 '183108',
 '181402',
 '180334',
 '178424',
 '177723',
 '177578',
 '177519',
 '177159',
 '176993',
 '176944',
 '176731',
 '176571',
 '176550',
 '176285',
 '176266',
 '173474',
 '173306',
 '172962',
 '172290',
 '172114',
 '171791',
 '170797',
 '170369',
 '169596',
 '169588',
 '168435',
 '168320',
 '167943',
 '166072',
 '165501',
 '165109',
 '160741',
 '159240',
 '159171',
 '159145',
 '156519',
 '148711',
 '148122',
 '148119',
 '147782',
 '147621',
 '146482',
 '146439',
 '142902',
 '142784',
 '140233',
 '139062',
 '137809',
 '137677',
 '137351',
 '135451',
 '121933',
 '49031',
 '8473',
 '7763',
 '6826',
 '80',
 '229909',
 '228941',
 '228687',
 '227950',
 '227796',
 '227234',
 '226753',
 '225199',
 '225028',
 '223874',
 '223627',
 '223061',
 '223033',
 '222943',
 '222558',
 '222509',
 '221992',
 '221540',
 '221087',
 '219985',
 '219932',
 '219576',
 '219411',
 '217877',
 '216778',
 '216547',
 '216475',
 '216189',
 '216065',
 '215333',
 '215061',
 '213582',
 '213400',
 '213135',
 '212977',
 '212911',
 '212230',
 '212198',
 '212153',
 '211119',
 '210930',
 '210679',
 '210333',
 '210282',
 '209997',
 '209307',
 '208574',
 '208230',
 '208135',
 '207939',
 '207877',
 '207862',
 '207494',
 '206591',
 '206225',
 '206222',
 '206198',
 '205923',
 '205633',
 '205569',
 '205114',
 '204923',
 '204884',
 '204838',
 '204819',
 '204240',
 '204077',
 '203980',
 '203895',
 '203627',
 '203605',
 '203535',
 '203362',
 '203106',
 '202648',
 '202325',
 '201878',
 '201508',
 '201505',
 '201325',
 '201144',
 '201143',
 '201119',
 '201095',
 '201013',
 '200798',
 '200726',
 '200529',
 '200215',
 '199767',
 '199626',
 '199602',
 '199304',
 '199069',
 '199042',
 '198614',
 '198584',
 '198329',
 '198140',
 '198113',
 '197225',
 '197083',
 '196889',
 '196432',
 '196150',
 '195671',
 '189296',
 '194932',
 '16254',
 '45186',
 '189575',
 '7826',
 '178322',
 '188829',
 '112542',
 '13732',
 '178085',
 '189606',
 '188840',
 '189354',
 '187052',
 '194996',
 '186805',
 '178625',
 '188103',
 '147660',
 '188879',
 '153296',
 '186832',
 '183249',
 '192722',
 '174549',
 '186581',
 '187607',
 '124375',
 '182744',
 '192984',
 '161754',
 '192476',
 '169181',
 '192991',
 '157665',
 '189157',
 '187366',
 '188135',
 '186345',
 '169706',
 '180714',
 '176619',
 '155887',
 '189423',
 '178160',
 '189681',
 '164082',
 '189682',
 '155897',
 '160000',
 '197891',
 '220932',
 '183556',
 '200197',
 '210950',
 '188166',
 '193290',
 '231691',
 '192012',
 '146701',
 '161805',
 '156432',
 '52752',
 '183569',
 '202515',
 '146963',
 '205590',
 '210455',
 '230168',
 '184089',
 '205850',
 '45595',
 '205340',
 '229148',
 '109852',
 '216349',
 '225309',
 '185373',
 '139038',
 '149791',
 '230431',
 '194079',
 '198688',
 '173857',
 '232226',
 '203299',
 '172835',
 '200228',
 '212772',
 '224293',
 '210214',
 '215079',
 '230183',
 '209960',
 '160040',
 '230184',
 '226601',
 '190761',
 '201519',
 '196143',
 '200752',
 '207920',
 '197681',
 '198706',
 '189234',
 '204341',
 '176949',
 '198198',
 '205878',
 '175671',
 '198200',
 '214584',
 '179768',
 '181816',
 '225850',
 '198715',
 '213051',
 '214332',
 '194365',
 '150590',
 '190014',
 '198719',
 '157503',
 '208450',
 '172610',
 '148803',
 '209989',
 '204614',
 '193862',
 '179527',
 '221000',
 '186953',
 '192073',
 '154954',
 '220746',
 '212811',
 '114764',
 '179789',
 '115533',
 '191053',
 '191565',
 '192333',
 '185422',
 '216655',
 '210513',
 '121170',
 '219732',
 '194644',
 '160087',
 '31831',
 '204120',
 '216409',
 '153177',
 '158810',
 '183130',
 '194138',
 '207707',
 '199005',
 '5213',
 '185181',
 '216158',
 '192350',
 '205408',
 '182882',
 '183394',
 '202851',
 '170597',
 '142950',
 '202087',
 '148839',
 '165735',
 '182888',
 '210537',
 '219754',
 '181098',
 '210287',
 '172143',
 '182896',
 '201073',
 '226161',
 '214132',
 '216692',
 '216437',
 '198006',
 '200054',
 '105846',
 '205943',
 '188536',
 '164985',
 '213114',
 '219258',
 '225402',
 '200315',
 '230524',
 '205693',
 '230269',
 '200318',
 '201342',
 '53630',
 '140415',
 '165247',
 '212096',
 '195202',
 '217731',
 '183427',
 ...]

In [51]:
#q5
def get_nationalities():
    first_five_nationalities = list()
    for nationality in get_column(3)[:5]:
        first_five_nationalities.append(nationality)
    return first_five_nationalities
get_nationalities()

['Portugal', 'Argentina', 'Brazil', 'Uruguay', 'Germany']

In [60]:
#q6 
def get_sorted_names():
    sorted_names = list()
    for name in get_column(1):
        sorted_names.append(name)
    sorted_names.sort()
    return sorted_names[:5]

get_sorted_names()

['A. Abbas', 'A. Abbas', 'A. Abdallah', 'A. Abdennour', 'A. Abdi']

In [62]:
#q7
def average_net_worth():
    total_worth = 0
    total_players = 0
    for row in player_data:
        total_worth += row[7]
        total_players += 1
    average_worth = total_worth/total_players
    return average_worth
average_net_worth()

2407282.6149178543

In [65]:
#q8
def average_age():
    total_age = 0
    total_players = 0
    for row in player_data:
        total_age += row[2]
        total_players += 1
    average_worth = total_age/total_players
    return average_worth

average_age()

25.133264640219817

In [78]:
def player_count(country):
    players_in_country = 0
    for row in player_data:
        if row[3] == country:
            players_in_country += 1
    return players_in_country

In [79]:
#q9
player_count('Portugal')

355

In [80]:
#q10
player_count('Brazil')

800

In [88]:
#q11
def highest_players_in_country():
    country_names = get_column(3)
    highest_players = 0
    for country in country_names:
        if player_count(country) > highest_players:
            highest_players = player_count(country)
            country_name = country
    return country_name

highest_players_in_country()

'England'

In [99]:
def player_to_dict(player_id):
    player_details = list()
    for row in player_data:
        if row[0] == player_id:
            player_details = row
    return dict(zip(header, player_details))

In [101]:
#q12
player_to_dict('20801')

{'Id': '20801',
 'name': 'Cristiano Ronaldo',
 'Age': 32.0,
 'nationality': 'Portugal',
 'club': 'Real Madrid CF',
 'league': 'Spanish Primera División',
 'euro_wage': 565000.0,
 'networth': 95500000.0,
 'score_of_100': 94.0}

In [102]:
#q13
player_to_dict('190871')

{'Id': '190871',
 'name': 'Neymar',
 'Age': 25.0,
 'nationality': 'Brazil',
 'club': 'Paris Saint-Germain',
 'league': 'French Ligue 1',
 'euro_wage': 280000.0,
 'networth': 123000000.0,
 'score_of_100': 92.0}

In [103]:
#q14
player_to_dict('158023')

{'Id': '158023',
 'name': 'L. Messi',
 'Age': 30.0,
 'nationality': 'Argentina',
 'club': 'FC Barcelona',
 'league': 'Spanish Primera División',
 'euro_wage': 565000.0,
 'networth': 105000000.0,
 'score_of_100': 93.0}

In [104]:
#q15
player_to_dict('192985')

{'Id': '192985',
 'name': 'K. De Bruyne',
 'Age': 26.0,
 'nationality': 'Belgium',
 'club': 'Manchester City',
 'league': 'English Premier League',
 'euro_wage': 285000.0,
 'networth': 83000000.0,
 'score_of_100': 89.0}

In [105]:
#q16
def players_per_nationality():
    countries_list = get_column(3)
    players_count = list()
    for country in countries_list:
        players_count.append(player_count(country))
    return dict(zip(countries_list, players_count))
players_per_nationality()

{'Portugal': 355,
 'Argentina': 948,
 'Brazil': 800,
 'Uruguay': 150,
 'Germany': 1132,
 'Poland': 332,
 'Spain': 995,
 'Belgium': 260,
 'Chile': 367,
 'Croatia': 107,
 'Wales': 122,
 'Italy': 792,
 'Slovenia': 62,
 'France': 962,
 'Gabon': 12,
 'Sweden': 366,
 'Netherlands': 425,
 'Denmark': 343,
 'Slovakia': 64,
 'England': 1582,
 'Colombia': 589,
 'Austria': 262,
 'Greece': 95,
 'Czech Republic': 63,
 'Costa Rica': 29,
 'Armenia': 14,
 'Bosnia Herzegovina': 55,
 'Ivory Coast': 94,
 'Senegal': 126,
 'Switzerland': 228,
 'Morocco': 77,
 'Guinea': 25,
 'Egypt': 20,
 'Algeria': 56,
 'Cameroon': 78,
 'Serbia': 132,
 'Japan': 469,
 'Turkey': 288,
 'Ecuador': 25,
 'Montenegro': 25,
 'Korea Republic': 316,
 'Kenya': 7,
 'Iceland': 52,
 'Mexico': 360,
 'Norway': 329,
 'DR Congo': 57,
 'Ukraine': 49,
 'Russia': 305,
 'Finland': 60,
 'Republic of Ireland': 408,
 'United States': 379,
 'Venezuela': 41,
 'Ghana': 113,
 'Uzbekistan': 5,
 'Nigeria': 126,
 'Canada': 49,
 'Paraguay': 60,
 'Romania': 49,
 'Albania': 35,
 'Burkina Faso': 14,
 'Cape Verde': 22,
 'New Zealand': 30,
 'Northern Ireland': 85,
 'Syria': 4,
 'Scotland': 291,
 'Bulgaria': 20,
 'Peru': 16,
 'Angola': 15,
 'Australia': 222,
 'South Africa': 62,
 'Jamaica': 37,
 'Tunisia': 31,
 'Mozambique': 3,
 'Iran': 17,
 'Mali': 46,
 'Cuba': 2,
 'Hungary': 24,
 'Belarus': 9,
 'Saudi Arabia': 321,
 'Israel': 12,
 'Benin': 14,
 'Georgia': 31,
 'Dominican Republic': 3,
 'Lithuania': 12,
 'Kosovo': 32,
 'Moldova': 6,
 'Togo': 8,
 'FYR Macedonia': 17,
 'Guinea Bissau': 15,
 'Honduras': 13,
 'Congo': 21,
 'Chad': 2,
 'Curacao': 11,
 'Sierra Leone': 9,
 'Gambia': 15,
 'Iraq': 8,
 'Trinidad & Tobago': 9,
 'Zimbabwe': 10,
 'Cyprus': 11,
 'Niger': 3,
 'Liechtenstein': 3,
 'Oman': 1,
 'Tanzania': 2,
 'Zambia': 7,
 'Libya': 2,
 'Haiti': 14,
 'Madagascar': 4,
 'Estonia': 8,
 'Guatemala': 1,
 'New Caledonia': 2,
 'Korea DPR': 6,
 'Bermuda': 4,
 'Comoros': 9,
 'Panama': 16,
 'Palestine': 4,
 'Latvia': 6,
 'Equatorial Guinea': 6,
 'Eritrea': 1,
 'Luxembourg': 8,
 'Kuwait': 2,
 'Suriname': 3,
 'Uganda': 4,
 'Mauritania': 2,
 'El Salvador': 2,
 'Central African Rep.': 4,
 'Azerbaijan': 7,
 'St Kitts Nevis': 3,
 'Fiji': 1,
 'Guam': 1,
 'Lebanon': 5,
 'Qatar': 6,
 'Philippines': 3,
 'China PR': 4,
 'Somalia': 1,
 'Kazakhstan': 3,
 'Bolivia': 2,
 'Montserrat': 4,
 'Ethiopia': 2,
 'Mauritius': 1,
 'Liberia': 2,
 'Puerto Rico': 2,
 'Namibia': 2,
 'Faroe Islands': 6,
 'Guyana': 5,
 'Thailand': 2,
 'Barbados': 1,
 'Antigua & Barbuda': 4,
 'Gibraltar': 2,
 'São Tomé & Príncipe': 1,
 'Grenada': 1,
 'Belize': 1,
 'Burundi': 1,
 'Turkmenistan': 1,
 'Swaziland': 1,
 'Malta': 3,
 'St Lucia': 1,
 'Sudan': 2,
 'Vietnam': 1,
 'Afghanistan': 3,
 'Sri Lanka': 1,
 'Kyrgyzstan': 1,
 'San Marino': 1,
 'Hong Kong': 1}

In [121]:
#q17
def players_per_league(league):
    players_count = 0
    for row in player_data:
        if row[5] == league:
            players_count += 1
    return players_count

def players_league_dict():
    leagues_list = get_column(5)
    league_players = list()
    for league in leagues_list:
        league_players.append(players_per_league(league))
    
    return dict(zip(leagues_list, league_players))
players_league_dict()

{'Spanish Primera División': 582,
 'French Ligue 1': 589,
 'German Bundesliga': 523,
 'English Premier League': 634,
 'Italian Serie A': 554,
 'Turkish Süper Lig': 493,
 'Portuguese Primeira Liga': 503,
 'USA Major League Soccer': 624,
 'Russian Premier League': 447,
 'Ukrainian Premier League': 24,
 'Holland Eredivisie': 484,
 'Mexican Liga MX': 515,
 'Argentinian Superliga': 771,
 'Japanese J1 League': 518,
 'Belgian First Division A': 430,
 'Czech Liga': 27,
 'Saudi Professional League': 405,
 'Greek Super League': 109,
 'Swiss Super League': 257,
 'Colombian Primera A': 551,
 'English Championship': 706,
 'Spanish Segunda División': 624,
 'Chilian Primera División': 320,
 'Campeonato Brasileiro Série A': 320,
 'Swedish Allsvenskan': 385,
 'South African PSL': 51,
 'French Ligue 2': 535,
 'Scottish Premiership': 310,
 'Australian A-League': 226,
 'German 2. Bundesliga': 509,
 'Austrian Bundesliga': 255,
 'Polish Ekstraklasa': 414,
 'Italian Serie B': 618,
 'Korean K League Classic': 322,
 'Danish Superliga': 362,
 'Norwegian Eliteserien': 392,
 'English League One': 641,
 'German 3. Liga': 513,
 'English League Two': 615,
 'Finnish Veikkausliiga': 27,
 'Rep. Ireland Premier Division': 284}

In [124]:
#q18
def average_wage_per_league(league):
    total_wage_in_league = 0
    total_players_in_league = 0
    for row in player_data:
        if row[5] == league:
            total_wage_in_league += row[6]
            total_players_in_league += 1
    return total_wage_in_league/total_players_in_league

def average_wage_per_league_dict():
    leagues_list = get_column(5)
    average_wage = list()
    for league in leagues_list:
        average_wage.append(average_wage_per_league(league))

            
    return dict(zip(leagues_list, average_wage))
average_wage_per_league_dict()

{'Spanish Primera División': 37104.810996563574,
 'French Ligue 1': 20843.803056027165,
 'German Bundesliga': 31177.820267686424,
 'English Premier League': 58705.047318611985,
 'Italian Serie A': 35981.94945848375,
 'Turkish Süper Lig': 16582.150101419877,
 'Portuguese Primeira Liga': 7570.576540755467,
 'USA Major League Soccer': 4052.8846153846152,
 'Russian Premier League': 19612.97539149888,
 'Ukrainian Premier League': 1000.0,
 'Holland Eredivisie': 6842.975206611571,
 'Mexican Liga MX': 14885.436893203883,
 'Argentinian Superliga': 6832.684824902723,
 'Japanese J1 League': 3030.8880308880307,
 'Belgian First Division A': 8953.488372093023,
 'Czech Liga': 1000.0,
 'Saudi Professional League': 8928.395061728395,
 'Greek Super League': 1000.0,
 'Swiss Super League': 6774.31906614786,
 'Colombian Primera A': 1916.5154264972778,
 'English Championship': 16702.54957507082,
 'Spanish Segunda División': 5915.0641025641025,
 'Chilian Primera División': 4800.0,
 'Campeonato Brasileiro Série A': 15515.625,
 'Swedish Allsvenskan': 2218.181818181818,
 'South African PSL': 1000.0,
 'French Ligue 2': 3330.841121495327,
 'Scottish Premiership': 7154.8387096774195,
 'Australian A-League': 3092.920353982301,
 'German 2. Bundesliga': 7766.2082514734775,
 'Austrian Bundesliga': 6054.901960784314,
 'Polish Ekstraklasa': 3190.8212560386473,
 'Italian Serie B': 3788.0258899676373,
 'Korean K League Classic': 3043.478260869565,
 'Danish Superliga': 5102.209944751381,
 'Norwegian Eliteserien': 1936.2244897959183,
 'English League One': 3663.0265210608422,
 'German 3. Liga': 1136.4522417153996,
 'English League Two': 3068.2926829268295,
 'Finnish Veikkausliiga': 1000.0,
 'Rep. Ireland Premier Division': 1049.2957746478874}

In [126]:
#q19
def average_age_per_league(league):
    total_age_in_league = 0
    total_players_in_league = 0
    for row in player_data:
        if row[5] == league:
            total_age_in_league += row[2]
            total_players_in_league += 1
    return total_age_in_league/total_players_in_league

def average_age_per_league_dict():
    leagues_list = get_column(5)
    average_age = list()
    for league in leagues_list:
        average_age.append(average_age_per_league(league))

            
    return dict(zip(leagues_list, average_age))
average_age_per_league_dict()

{'Spanish Primera División': 25.015463917525775,
 'French Ligue 1': 24.31239388794567,
 'German Bundesliga': 24.137667304015295,
 'English Premier League': 24.832807570977916,
 'Italian Serie A': 25.21119133574007,
 'Turkish Süper Lig': 26.4868154158215,
 'Portuguese Primeira Liga': 25.05765407554672,
 'USA Major League Soccer': 26.009615384615383,
 'Russian Premier League': 25.55704697986577,
 'Ukrainian Premier League': 25.958333333333332,
 'Holland Eredivisie': 23.264462809917354,
 'Mexican Liga MX': 25.833009708737865,
 'Argentinian Superliga': 25.325551232166017,
 'Japanese J1 League': 26.65057915057915,
 'Belgian First Division A': 24.05581395348837,
 'Czech Liga': 27.333333333333332,
 'Saudi Professional League': 25.760493827160495,
 'Greek Super League': 25.339449541284402,
 'Swiss Super League': 24.136186770428015,
 'Colombian Primera A': 25.76043557168784,
 'English Championship': 24.923512747875353,
 'Spanish Segunda División': 25.05128205128205,
 'Chilian Primera División': 28.975,
 'Campeonato Brasileiro Série A': 28.975,
 'Swedish Allsvenskan': 24.97142857142857,
 'South African PSL': 26.80392156862745,
 'French Ligue 2': 24.82429906542056,
 'Scottish Premiership': 24.625806451612902,
 'Australian A-League': 25.52654867256637,
 'German 2. Bundesliga': 24.557956777996072,
 'Austrian Bundesliga': 24.094117647058823,
 'Polish Ekstraklasa': 25.70048309178744,
 'Italian Serie B': 25.042071197411005,
 'Korean K League Classic': 26.267080745341616,
 'Danish Superliga': 24.26795580110497,
 'Norwegian Eliteserien': 24.252551020408163,
 'English League One': 24.279251170046802,
 'German 3. Liga': 24.142300194931774,
 'English League Two': 24.357723577235774,
 'Finnish Veikkausliiga': 23.59259259259259,
 'Rep. Ireland Premier Division': 24.010563380281692}

In [130]:
#q20
def league_with_highest_average_age():
    v=list(average_age_per_league_dict().values())
    k=list(average_age_per_league_dict().keys())
    return k[v.index(max(v))]
league_with_highest_average_age()

'Chilian Primera División'